body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 1200px;
  padding: 0;
}

.body-shadow {
  -webkit-box-shadow: 0 0 40px 2px #dbdbdb;
  box-shadow: 0 0 40px 2px #dbdbdb;
}

a {
  text-decoration: none;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 55px;
  margin: 0;
  padding: 0 73px;
}

.main-nav-list li {
  list-style-type: none;
  width: 242px;
}

.main-nav-list li:nth-of-type(1),
.main-nav-list li:nth-of-type(2) {
  text-align: left;
}

.main-nav-list li:nth-of-type(3),
.main-nav-list li:nth-of-type(4) {
  text-align: right;
}

.main-nav-list li:nth-of-type(3) {
  margin-left: auto;
}

.main-nav-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.main-nav-list a:hover {
  color: #81b3d2;
}

.main-nav-list a:active {
  color: #b2b2b2;
}

.main-nav-list .link-active {
  color: #766357;
}

.hero-section {
  position: relative;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #d5e6f0;
  height: 508px;
  text-align: center;
  line-height: 0;
  margin-bottom: 43px;
}

.hero-section::after {
  display: block;
  position: absolute;
  content: "";
  height: 57px;
  background-image: url("../img/shape_1.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  bottom: 0;
  left: 0;
  width: 1200px;
}

.visually-hidden {
  margin: 0;
  line-height: 0;
  visibility: hidden;
}

.reason-main-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  width: 550px;
}

.reason-main-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.reason-title {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  width: 400px;
  padding: 0 95px;
  margin-top: 0;
}

.reason-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.reason-text-icon {
  padding: 0 50px;
}

.reason-title-white,
.reason-text-white {
  color: #ffffff;
  margin-bottom: 25px;
}

.reason-text-white {
  padding: 0 45px;
  margin: 0;
  margin-top: 20px;
  line-height: 21px;
}

.reason-text-grey {
  color: #333333;
  padding: 0 60px;
  margin-top: 22px;
}

.reason-title-grey {
  padding: 0 135px;
  margin-bottom: 26px;
}

.reason-title-icon {
  margin-bottom: 27px;
}

.reason-title-icon1::before {
  display: block;
  content: "";
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 76px;
  margin-bottom: 28px;
}

.reason-title-icon2::before {
  display: block;
  content: "";
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 76px;
  margin-bottom: 28px;
}

.reason-title-icon3::before {
  display: block;
  content: "";
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 76px;
  margin-bottom: 28px;
}

.reason-footer-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  margin-top: 53px;
  margin-bottom: 0;
}

.reason-footer-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 0;
}

.button {
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  width: 110px;
  height: 21px;
  padding-top: 0;
}

.button:hover {
  background-color: #669ec0;
}

.button:focus {
  color: #88b6d1;
  background-color: #5496bd;
}

.button-blue {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 27px;
}

.button-dark {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #766357;
  width: 142px;
  height: 27px;
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.button-dark:hover,
.button-dark:focus {
  background-color: #604e43;
  color: #fff;
  outline: 0;
}

.button-dark:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form-row {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form-row input {
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search-form-row input:hover {
  background-color: #ebebeb;
}

.search-form-row input:focus {
  background-color: #ffffff;
  border-color: #e5e5e5;
  border: 2px solid #e5e5e5;
  outline: none;
  padding-left: 7px;
}

.search-form-row .adult-count-figure,
.search-form-row .children-count-figure {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-form-row .adult-count-figure:focus,
.search-form-row .children-count-figure:focus {
  padding-left: 0;
}

.calendar-button {
  position: absolute;
  width: 23px;
  height: 24px;
  top: 20%;
  left: 93%;
  background-image: url("../img/calendar-grey.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  border: none;
}

.calendar-button:hover,
.calendar-button:focus {
  background-image: url("../img/calendar.svg");
  outline: 0;
}

.calendar-button:active {
  background-image: url("../img/calendar-blue.svg");
}

.search-form {
  position: relative;
  width: 570px;
  height: 480px;
  margin: 0 auto -393px;
  background: #fff;
}

.search-form .button-dark {
  line-height: 86px;
  width: 100%;
  height: 88px;
  font-size: 21px;
  font-weight: bold;
}

.hotels-search-action {
  padding: 56px;
  -webkit-box-shadow: 0 7px 20px 7px rgba(0,0,0,0.15);
  box-shadow: 0 7px 20px 7px rgba(0,0,0,0.15);
}

.search-form-row {
  position: relative;
  margin-bottom: 28px;
  line-height: 38px;
  font-size: 0;
}

.search-form-row label {
  font-size: 14px;
  width: 112px;
  display: inline-block;
  vertical-align: middle;
}

.search-form-row label.children-count {
  width: 65px;
  padding-left: 53px;
}

.entry-date,
.departure-date {
  height: 38px;
  width: 346px;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 0 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.search-form input::-ms-clear {
  display: none;
}

.button-sign {
  display: inline-block;
  width: 114px;
  vertical-align: middle;
  background: #f2f2f2;
}

.hotels-search {
  margin-bottom: -8px;
}

.hotels-search-action .button-search {
  width: 458px;
  height: 58px;
  margin-top: 54px;
  cursor: pointer;
  line-height: 51px;
  font-weight: 700;
  font-size: 21px;
}

.button-sign button {
  width: 38px;
  display: inline-block;
  vertical-align: middle;
  height: 38px;
  border: 0;
  font-size: 22px;
  line-height: 38px;
}

.button-sign input {
  width: 38px;
  font-size: 14px;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  height: 38px;
  text-align: center;
}

.button-sign input:focus,
.search-form .search-form-row .entry-date:focus,
.search-form .search-form-row .departure-date:focus {
  background: #fff;
}

.button-decrease,
.button-increase {
  color: #a9a9a9;
  background-color: #f2f2f2;
  border-radius: 0;
}

.button-decrease:hover,
.button-increase:hover,
.button-decrease:focus,
.button-increase:focus {
  color: #000000;
  border-radius: 0;
  outline: 0;
}

.button-decrease:active,
.button-increase:active {
  color: #81b3d2;
  border-radius: 0;
}

.button-transperent {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 137px;
  min-height: 37px;
  line-height: 31px;
  background: transparent;
  border: 2px solid #ffffff;
  padding: 0;
  margin-left: 85px;
}

.button-transperent:hover {
  color: #000000;
  background-color: #ffffff;
}

.hotels-parameters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #749ec1;
  background-image: url("../img/background2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px;
  padding-left: 73px;
  padding-top: 29px;
  padding-bottom: 13px;
  padding-right: 73px;
}

.infrastructure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.infrastructure fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-right: 15px;
  border: none;
}

.infrastructure fieldset:last-child {
  margin-left: auto;
  margin-right: 0;
  width: 318px;
}

.infrastructure input[type="checkbox"] {
  display: none;
}

.infrastructure legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.infrastructure label {
  display: block;
  position: relative;
  height: 25px;
  line-height: 27px;
  cursor: pointer;
  margin-bottom: 19px;
  margin-top: 13px;
  padding-left: 40px;
}

.infrastructure label:active,
.infrastructure label:focus{
    border: none;
}

.infrastructure label:first-of-type {
  margin-bottom: 19px;
  margin-top: 13px;
}

.infrastructure label:not(:first-of-type) {
  margin-top: 0;
}

.infrastructure label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 27px;
  height: 25px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.infrastructure label:disabled::before {
  opacity: 0.3;
}

.infrastructure input[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
}

.multirange-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 5px 0;
  margin-bottom: 20px;
  height: 20px;
}

.multirange-value label.cost {
  display: block;
  line-height: 22px;
  text-align: center;
  border-color: #ffffff;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 10px;
  flex-basis: 10px;
}

.cost:first-child {
  border-right: 2px solid #fff;
}

.cost::before {
  display: none;
}

.cost input {
  display: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  border: 9px solid #ffffff;
  top: -11px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.hotels-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 73px;
  margin-bottom: 20px;
}

.hotel-sort-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 49px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: block;
  margin: 0;
  min-width: 135px;
}

.hotels-sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 350px;
  height: 15px;
  margin: 0;
  padding-left: 0;
  margin-left: 30px;
}

.hotels-sort li {
  list-style-type: none;
}

.sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
}

.hotels-sort-list li .sort {
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
}

.hotels-sort-list li .sort-active,
.hotels-sort-list li .sort-active:hover,
.hotels-sort-list li .sort-active:focus {
  text-decoration: none;
  color: #81b3d2;
}

.hotels-sort a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #b2b2b2;
  text-transform: uppercase;
}

.hotels-sort a:hover {
  color: #81b3d2;
}

.hotels-sort a:focus {
  color: #000000;
}

.hotels-sort a:active {
  color: #81b3d2;
}

.hotels-choice li {
  list-style-type: none;
}

.hotel-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  display: block;
  min-width: 230px;
  height: 26px;
  margin: 0;
  margin-top: -3px;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
}

.hotel-title:active {
  color: #b2b2b2;
}

.hotel-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  display: inline-block;
  width: 113px;
  vertical-align: baseline;
}

.hotel-text-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 4px;
}

.hotel-rating-text {
  background-color: #f2f2f2;
  text-align: center;
  height: 27px;
  width: 110px;
  line-height: 27px;
}

.hotels-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 258px;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  height: 10px;
  width: 35px;
}

.arrow:hover {
  fill: #231F20;
}

.arrow:active {
  fill: #81b3d2;
}

.arrow-active,
.arrow-active:hover,
.arrow-active:active {
  fill: #81b3d2;
}

.reason-inner {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  width: 400px;
  height: 256px;
  padding-top: 55px;
}

.reason-inner-white {
  background-color: #81b3d2;
  padding-top: 48px;
}

.reason-inner-grey {
  background-color: #eeeeee;
  padding-top: 48px;
}

.sedona-foto {
  background-color: #e0836d;
}

.main-footer li {
  list-style-type: none;
}

.social-list {
  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.social-list a {
  display: block;
  width: 46px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  font-size: 0;
  margin-left: 6px;
  background-color: #82b3d3;
}

.social-list a img {
  vertical-align: middle;
}

.social-list a:hover {
  background-color: #669ec0;
}

.social-list a:active {
  background-color: #5496bd;
}

.social-list a:active img {
  opacity: 0.8;
}

.logo-htmlacademy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 41px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  height: 37px;
  width: 200px;
  margin-right: 23px;
}

.logo-htmlacademy svg {
  width: 108px;
  height: 37px;
  margin-left: 8px;
}

.logo-htmlacademy svg:hover path {
  fill: #8bb9d6;
}

.logo-htmlacademy svg:active path {
  fill: #c1c0c0;
}

.reason-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 37px;
}

.reasons-list-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reasons-list-row:nth-of-type(2) {
  margin-bottom: 73px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 120px;
  margin-top: 1px;
  padding: 0 73px;
}

.hotels-search-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 46px;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.main-header {
  position: relative;
  height: 55px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 50;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.hotels-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-left: 0;
  margin: 0;
}

.hotel-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 30px;
  width: 500px;
  min-height: 90px;
}

.hotel-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: auto;
  height: inherit;
}

.hotel-rating-stars {
  display: block;
  text-align: right;
  margin-bottom: 39px;
  padding-bottom: 4px;
}

.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 151px;
  padding: 0 73px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #eee;
  border-top: 2px solid transparent;
}

.hotel:first-of-type {
  border-top: 2px solid #eee;
}

.footer-hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  margin-left: 60px;
}