body{
    margin:0 auto;
	padding:0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
    width:1200px;
}

a{
	text-decoration: none;
}

.main-nav-list li{
	list-style-type: none;
}

.main-nav-list a{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}
.main-nav-list a:hover{
	color: #81b3d2;
}
.main-nav-list a:focus{
	color: #b2b2b2;
}
.main-nav-list a:active{
	color: #766357;
}

.hero-section {
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #d5e6f0;
	height: 510px;
	text-align: center;
	line-height: 0;
}

.hero-section::after {
    display: block;
    content: "";
    height: 57px;
	background-image: url("../img/shape 1.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: -57px;
}

.hero-section h1 {
	margin:0;
	line-height:0;
	visibility:hidden;
}

.reason-main-title{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase
}

.reason-main-text{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.reason-title{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.reason-text{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.reason-title-white,
.reason-text-white{
	color: #ffffff;

	background-color: #81b3d2;
}

.reason-title-grey,
.reason-text-grey{
 	background-color: #eeeeee;
}

.reason-title-icon1::before{
	display: block;
	content: "";
	background-image: url("../img/icon-1.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 76px;
}

.reason-title-icon2::before{
	display: block;
	content: "";
	background-image: url("../img/icon-2.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 76px;
}	

.reason-title-icon3::before{
	display: block;
	content: "";
	background-image: url("../img/icon-3.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 76px;
}

.reason-footer-title{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.reason-footer-text{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.search-form-row{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.search-form-row input{
	background-color: #f2f2f2;
}

.search-form-row input:hover{
	background-color: #ebebeb;
}
.search-form-row input:focus{
	background-color: #ffffff;
	border-color: #e5e5e5;
}

.button{
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;

	background-color: #81b3d2;
	border: none;
}

.button:hover{
	background-color: #669ec0;
}
.button:focus{
	color: #88b6d1;
	background-color: #5496bd;
}

.button-dark{
	background-color: #766357;
}

.button-dark:hover{
	background-color: #604e43;
}
.button-dark:focus{
	background-color: #503e33;
}
.button-search{
	line-height: 26px;
	font-weight: 700;
}

.button-decrease{
	color: #a9a9a9;
}

.button-decrease:hover{
	color: #000000;
}
.button-decrease:focus{
	color: #81b3d2;
}

.button-transperent{
	background: rgba(255, 255, 255, 0.1);
	border: 2px solid #ffffff;
}

.button-transperent:hover{
	color: #000000;

	background-color: #ffffff;
}

.hotels-parameters{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #749ec1;
	background-image: url("../img/background2.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.hotels-parameters input,
.hotels-parameters input:hover{
	border-color: #ffffff;
}

.cost{
	border-color: #ffffff;
}

.hotels-sort li{
	list-style-type: none;
}
.hotels-sort a{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #b2b2b2;
	text-transform: uppercase;
}

.hotels-sort a:hover{
	color: #81b3d2;
}

.hotels-sort a:focus{
	color: #000000;
}

.hotels-sort a:active{
	color: #81b3d2;
}

.hotels-choice li{
	list-style-type: none;
}
.hotel-title{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;
}

.hotel-title:hover{
	color: #81b3d2;
}

.hotel-title:focus{
	color: #b2b2b2;
}

.hotel-text{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.hotel-text-blue{
	background-color: #f2f2f2;
}

.main-footer li{
	list-style-type: none;
}
.social-list a{
	display:block;
	width: 48px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	font-size: 0;

	background-color: #82b3d3;
}
.social-list a img {
	vertical-align: middle;
}
.social-list a:hover{
	background-color: #669ec0;
}
.social-list a:active{
	background-color: #5496bd;
}
.social-list a:active img {
	opacity: 0.8;
}

.logo-htmlacademy{
	display: block;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 41px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-image: url("../img/logo-htmlacademy.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
	padding-right: 120px;
	width: 75px;
}
.logo-htmlacademy:hover{
	background-position: 100% -41px;
}
.logo-htmlacademy:focus{
	background-position: 100% 100%;
}

.arrow{
	display: block;
	width: 22px;
	height: 12px;
}
.arrow-up{
	display: block;
	width: 10px;
	height: 10px;

	background-image: url("../img/arrow-up.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
	
}
.arrow-up:hover{
	background-position: 100% -10px;
}
.arrow-up:focus{
	background-position: 100% 100%;
}
.arrow-down{
	display: block;
	width: 10px;
	height: 10px;

	background-image: url("../img/arrow-down.png");
	background-position: 100% 0;
	background-repeat: no-repeat;
}
.arrow-down:hover{
	background-position: 100% -10px;
}
.arrow-down:focus{
	background-position: 100% 100%;
}